.country-details {
	display: flex;
}

.h1 {
	margin-bottom: 50px;
}

input[type='text'] {
	margin-bottom: 25px;
	border: 2px solid cornflowerblue;
	border-radius: 5px;
	outline: none;
}

input[type='text']:focus,
input[type='text']:active {
	outline: none;
	border: 2px solid cornflowerblue;
	background-color: cornflowerblue;
	color: white;
	padding: 0 3px;
}